fastapi==0.112.2
grpcio==1.66.0
gunicorn==23.0.0
numpy==1.24.4
pandas==2.2.2
pydantic==2.8.2
requests==2.32.3
ray[serve]==2.40.0
mlflow==2.19.0
loguru==0.7.1
xgboost==2.1.3
protobuf==3.20.1
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-instrumentation-requests==0.43b0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0